openapi: '3.0.0'
info:
  version: 1.0.0
  title: Ismet Dilekci Documentation API
  license:
    name: MIT
servers:
  - url: https://api.ismetdocs.com/v1
paths:
  /projects:
    get:
      summary: List all documentation projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of documentation projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation project
      operationId: createProject
      responses:
        201:
          description: Project creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Retrieve details for a specific documentation project
      operationId: getProject
      parameters:
        - name: projectId
          in: path
          required: true
          description: The unique identifier of the documentation project
          schema:
            type: string
      responses:
        200:
          description: Project details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing documentation project
      operationId: updateProject
      responses:
        200:
          description: Project updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a documentation project
      operationId: deleteProject
      parameters:
        - name: projectId
          in: path
          required: true
          description: The unique identifier of the project to delete
          schema:
            type: string
      responses:
        204:
          description: Project deleted successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents:
    get:
      summary: List all documents across projects
      operationId: listDocuments
      parameters:
        - name: projectId
          in: query
          description: Filter documents by project ID
          required: false
          schema:
            type: string
      responses:
        200:
          description: A paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new document
      operationId: createDocument
      responses:
        201:
          description: Document created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Document:
      required:
        - id
        - title
        - projectId
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        projectId:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
